body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
}

/* <<<<<<<<<<<<  COMPONENTS  >>>>>>>>>>>> */

.address-link {
  font-style: normal;
}

/* <<<<<<<<<<<<  end COMPONENTS  >>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<<<<<<<<< STUDIO  >>>>>>>>>>>>>>>>>>>>>>>> */


/* <<<<<<<<<<<<  HEADER  >>>>>>>>>>>> */

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}

/* <<<<<<<<<<<< end HEADER  >>>>>>>>>>>> */

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

/* <<<<<<<<<<<< HERO  >>>>>>>>>>>> */
/* <<<<<<<<<<<< end HERO  >>>>>>>>>>>> */

/* <<<<<<<<<<<<  OUR PRIORITY  >>>>>>>>>>>> */
/* <<<<<<<<<<<<  end OUR PRIORITY  >>>>>>>>>>>> */

/* <<<<<<<<<<<<  WHAT A WE DOING  >>>>>>>>>>>> */
/* <<<<<<<<<<<<  end WHAT A WE DOING  >>>>>>>>>>>> */

/* <<<<<<<<<<<<  OUR TEAM  >>>>>>>>>>>> */
/* <<<<<<<<<<<<  end OUR TEAM  >>>>>>>>>>>> */

/* <<<<<<<<<<<<  FOOTER  >>>>>>>>>>>> */
/* <<<<<<<<<<<<  end FOOTER  >>>>>>>>>>>> */


/* <<<<<<<<<<<<<<<<<<<<<<<< end STUDIO  >>>>>>>>>>>>>>>>>>>>>>>> */
.nav-list {
}

.link {
  text-decoration: none;
}

.item {
  list-style: none;
}

.address {
  font-style: normal;
}

/* list-style: none; - убрать точки

/* Фон задай по умолчанию белій ко всей странице  в боди.
А потом по секциям задай бекгроунд синия для херо и футера 
и серенькия для сотрудников

При наведении на кнопки курсор должен становиться ладошкой. 
как при наведении на ссілки

Там где ховер и фокус для кнопок вот такую команду добавь cursor: pointer;

Кнопка - єто по умолчанию интерактивній єлемент. Ховер и фокус ставить.